// Header

header {
  padding: 2rem 0;
  & .left-col {
    & h1 {
      margin-right: 0.5rem;
      font-size: 1.5rem;
      font-weight: 600;
    }
    & .learn-more-btn {
      background-color: #faf7f7;
      padding: 0.4rem;
      border-radius: 0.8rem;
      color: #5555ff;
      font-size: 0.7rem;
      margin-left: 0.3rem;
      & ion-icon {
        font-size: 1.1rem;
        margin-right: 0.3rem;
      }
    }
  }
  & .right-col {
    & button {
      padding: 0.4rem 0.8rem;
      background-color: #fff;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 0.2rem;
      font-size: 0.8rem;
      font-family: inherit;
      color: #000;
      margin-right: 0.6rem;
      & ion-icon {
        margin-right: 0.5rem;
      }
    }
  }
}

// Sort

.sort {
  & .sort-types {
    border-bottom: 1px solid $light-gray;
    & .left-col {
      & button:nth-child(2) {
        color: #000;
      }
      & .sort-btn {
        color: $text-gray;
      }
    }
    & .right-col {
      & .grid-display-btn {
        margin-right: 0.8rem;
        color: $text-gray;
      }
      & .list-display-btn {
        font-size: 1.3rem;
      }
    }
  }
}

// Search and Filter

.search-and-filter {
  & .search {
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
    & .search-bar {
      width: 200px;
      margin: 0 0.5rem;
      font-family: inherit;
      font-size: 0.8rem;
      position: absolute;
      right: -15px;
      outline: none;
      border: 1px solid $light-gray;
      border-radius: 1rem;
      padding: 0.6rem 2rem 0.6rem 0.6rem;
    }
  }
  & .filter {
    background-color: #efeded;
    padding: 0.4rem 0.8rem;
    color: $text-dark-gray;
    border-radius: 0.3rem;
    & span {
      margin-left: 0.3rem;
    }
  }
}

// Display Cards

.card-box {
  margin: 1rem 0;
  padding: 1rem;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.3rem;
  & h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
  }
  & p {
    color: $text-gray;
    font-size: 0.9rem;
  }
  & .card-header-icon {
    background-color: #fdf8f9;
    padding: 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  & ion-icon {
    color: red;
    font-size: 2rem;
  }
  & .card-type-date {
    margin: 0.7rem 0;
    & .card-category {
      padding: 0.2rem 0.5rem;
      border: 1px solid $text-gray;
      border-radius: 0.4rem;
      font-size: 0.8rem;
      text-transform: uppercase;
      color: $text-gray;
    }
  }
  & .card-status-bar {
    margin: 1rem 0;
    & .spent-bar,
    .available-bar {
      height: 0.625rem;
      outline: none;
      border: none;
    }
    & .spent-bar {
      background-color: $primary-pink;
      border-top-left-radius: 5rem;
      border-bottom-left-radius: 5rem;
    }
    & .available-bar {
      background-color: $status-bar-green;
      border-top-right-radius: 5rem;
      border-bottom-right-radius: 5rem;
    }
  }
  & .card-stats {
    margin-top: 0.7rem;
    & .spent-stats-bullet,
    & .available-stats-bullet {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
    & .spent-stats-bullet {
      background-color: $primary-pink;
    }
    & .available-stats-bullet {
      background-color: $status-bar-green;
    }
    & .spent-stats-left span,
    & .available-stats-left span {
      color: #000;
    }
  }
  & .available-stats {
    margin-top: 0.8rem;
  }
  & .card-stats p {
    color: #000;
  }
  & .available-stats p {
    font-weight: 600;
  }
}