/* Resets */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General */
html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jcr {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.jsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tac {
  text-align: center;
}

.padding-y {
  padding: 2rem 0;
}

.section-padding {
  padding: 2rem 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}

.sort-btn {
  background-color: #fff;
  margin-right: 1.3rem;
}

.sort-btn-active {
  border-bottom: 2px solid #FF3266;
  color: black !important;
}

a {
  text-decoration: none;
}

header {
  padding: 2rem 0;
}

header .left-col h1 {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

header .left-col .learn-more-btn {
  background-color: #faf7f7;
  padding: 0.4rem;
  border-radius: 0.8rem;
  color: #5555ff;
  font-size: 0.7rem;
  margin-left: 0.3rem;
}

header .left-col .learn-more-btn ion-icon {
  font-size: 1.1rem;
  margin-right: 0.3rem;
}

header .right-col button {
  padding: 0.4rem 0.8rem;
  background-color: #fff;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-family: inherit;
  color: #000;
  margin-right: 0.6rem;
}

header .right-col button ion-icon {
  margin-right: 0.5rem;
}

.sort .sort-types {
  border-bottom: 1px solid #e0e0e0;
}

.sort .sort-types .left-col button:nth-child(2) {
  color: #000;
}

.sort .sort-types .left-col .sort-btn {
  color: #939292;
}

.sort .sort-types .right-col .grid-display-btn {
  margin-right: 0.8rem;
  color: #939292;
}

.sort .sort-types .right-col .list-display-btn {
  font-size: 1.3rem;
}

.search-and-filter .search {
  margin-right: 1rem;
  cursor: pointer;
}

.search-and-filter .filter {
  background-color: #efeded;
  padding: 0.4rem 0.8rem;
  color: #2f2e2e;
  border-radius: 0.3rem;
}

.search-and-filter .filter span {
  margin-left: 0.3rem;
}

.card-box {
  margin: 1rem 0;
  padding: 1rem;
  width: 500px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.3rem;
}

.card-box h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.card-box p {
  color: #939292;
  font-size: 0.9rem;
}

.card-box .card-header-icon {
  background-color: #fdf8f9;
  padding: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-box ion-icon {
  color: red;
  font-size: 2rem;
}

.card-box .card-type-date {
  margin: 0.7rem 0;
}

.card-box .card-type-date .card-category {
  padding: 0.2rem 0.5rem;
  border: 1px solid #939292;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #939292;
}

.card-box .card-status-bar {
  margin: 1rem 0;
}

.card-box .card-status-bar .spent-bar,
.card-box .card-status-bar .available-bar {
  height: 0.625rem;
  outline: none;
  border: none;
}

.card-box .card-status-bar .spent-bar {
  background-color: #FF3266;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.card-box .card-status-bar .available-bar {
  background-color: #008000;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.card-box .card-stats {
  margin-top: 0.7rem;
}

.card-box .card-stats .spent-stats-bullet,
.card-box .card-stats .available-stats-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.card-box .card-stats .spent-stats-bullet {
  background-color: #FF3266;
}

.card-box .card-stats .available-stats-bullet {
  background-color: #008000;
}

.card-box .card-stats .spent-stats-left span,
.card-box .card-stats .available-stats-left span {
  color: #000;
}

.card-box .available-stats {
  margin-top: 0.8rem;
}

.card-box .card-stats p {
  color: #000;
}

.card-box .available-stats p {
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */